<!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
</head>
<body>
    <h1>Nameless Weather App</h1>
    <form method="POST">
        <label for="city">Select a city:</label>
        <select name="city" id="city">
            {% for city in cities %}
            <option value="{{ city }}" {% if city == selected_city %}selected{% endif %}>{{ city }}</option>
            {% endfor %}
        </select>
        <br>
        <label for="temp_unit">Select temperature unit:</label>
        <select name="temp_unit" id="temp_unit">
            {% for unit in temp_units %}
            <option value="{{ unit }}" {% if unit == selected_unit %}selected{% endif %}>{{ unit }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Check Weather</button>
    </form>
    {% if weather_data %}
    <h2>Weather Data for {{ weather_data.city }}</h2>
    <p>Temperature: 
        {% if selected_unit == 'Kelvin' %}
            {{ weather_data.main.temp_kelvin }} K
        {% elif selected_unit == 'Celsius' %}
            {{ weather_data.main.temp_celsius }} °C
        {% else %}
            {{ weather_data.main.temp_fahrenheit }} °F
        {% endif %}
    </p>
    <p>Humidity: {{ weather_data.main.humidity }}%</p>
    {% if 'wind' in weather_data %}
        <p>Wind Speed: {{ weather_data.wind.speed }} m/s</p>
    {% else %}
        <p>Wind Speed: N/A</p>
    {% endif %}
    <p>Conditions: {{ weather_data.weather[0].description }}</p>
    {% elif error %}
    <p>{{ error }}</p>
    {% endif %}
</body>
</html>